<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>




<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>Leadership</h2>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="http://freehtml5.co/demos/voltage/images/person_4.jpg" class="img-responsive center-block img-circle" alt="Person" width="140" height="140">
    <h3 class="text-center">Ian Stewart</h3>
    <h4 class="text-center text-muted">Web Developer</h4>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
    <ul class="list-inline text-center">
      <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
      <li><a href="#"><i class="fa fa-github fa-lg"></i></a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <div class="person">
      <img src="http://freehtml5.co/demos/voltage/images/person_5.jpg" class="img-responsive center-block img-circle" alt="Person" width="140" height="140">
      <h3 class="text-center">Chris Clark</h3>
      <h4 class="text-center text-muted">Web Designer</h4>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
      <ul class="list-inline text-center">
        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="person">
      <img src="http://freehtml5.co/demos/voltage/images/person_6.jpg" class="img-responsive center-block img-circle" alt="Person" width="140" height="140">
      <h3 class="text-center">Mitch Silk</h3>
      <h4 class="text-center text-muted">Photographer</h4>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
      <ul class="list-inline text-center">
        <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-github fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
</div>

