

<!-- Image Header -->
<div class="row">
  <div class="col-lg-12">
    <img class="img-responsive" src="/images/banner_1.png" alt="">
  </div>
</div>
<!-- /.row -->



<!-- Service Panels -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div id="services-panel">
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>Notre mission</h2>
    <p>MyGoodCourse a pour mission d'offrir une plateforme pour aider les enseigants à construire et promouvoir leurs cours. Nous vison devenir la place pour tous les "Bons Cours" des enseignants. </p>
  </div>
</div>
<div class="row ">
  <div class="col-md-3 col-sm-6 service-animation" data-os-animation="slideInUp" data-os-animation-delay="0.5s">
    <div class="panel panel-default text-center noborder">
      <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="panel-body">
        <h4>Trouver des cours</h4>
        <p>Vous cherchez des ressources fabuleuses pour votre cours? Parcourez donc les bonnes ressources déjà réalisées par des enseignants!</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 service-animation" data-os-animation="slideInUp" data-os-animation-delay="1.5s">
    <div class="panel panel-default text-center noborder">
      <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="panel-body">
        <h4>rejoindre une communauté</h4>
        <p>Avec l'aide des autres utilisateurs, améliorez votre productivité, construisez votre réseau, gagnez en réputation et en reconnaissance.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 service-animation" data-os-animation="slideInUp" data-os-animation-delay="2.5s">
    <div class="panel panel-default text-center noborder">
      <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="panel-body">
        <h4>Sauvegarder votre travail</h4>
        <p>Mettez en place facilement une sauvegarde pour vos cours, stockez les dans le cloud, partagez vos cours si vous le souhaitez avec d'autres utilisateurs.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 service-animation" data-os-animation="slideInUp" data-os-animation-delay="3.5s">
    <div class="panel panel-default text-center noborder">
      <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="panel-body">
        <h4>Gagnez de l'argent</h4>
        <p>Vous pouvez décider de vendre ou non vos cours, en fonction de vos choix certaines ressources peuvent être payantes et vous serez payé sur votre compte en banque par les autres utilisateurs.</p>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <%= link_to 'Join and start to be part of MyGoodCourse', new_customer_registration_path, class: "btn btn-success input-block-level form-control" %>
  </div>
  </div>

<!-- Image Header -->
<div class="row">
  <br/>
  <br/>
  <div class="col-lg-12">
    <img class="img-responsive" src="/images/banner_2.png" alt="">
  </div>
</div>
<!-- /.row -->


<!-- Service Tabs -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Our vision</h2>
  </div>
  <div class="col-lg-12 staggered-animation-container">

    <ul id="myTab" class="nav nav-tabs nav-justified">
      <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-heart"></i> Education</a>
      </li>
      <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Success</a>
      </li>
      <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-star"></i> Quality</a>
      </li>
      <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-user"></i> Rewards</a>
      </li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="service-one">
                        <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>We love education</h4>
        <p>We strongly believe that Education is one of the most important topic in the world. We have been working with teachers, students, headmasters, local authorities for year. Education is clearly our passion and our starting point for everything we do every day.</p>
        <p>We want to be a partner to all stakeholders in Education. At the first place, we want to be a trully partner for teachers. But we also want to be close to the needs of students, parents and even headmasters.</p>
        <p>Our vision is that with the help of technology we can increase the success of all. We trully believe that we can help to leverage the level and build strong success for everyone.</p>
      </div>
      <div class="tab-pane fade" id="service-two">
                        <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>We believe in education</h4>
        <p>We have been in the EdTechs for two decades. The technologies can now clearly help teachers in their daily work, everywhere in the world.</p>
        <p>Being involved for many years in the Edtechs, we want to take advantages of all the possibilities of the new technologies.  </p>
      </div>
      <div class="tab-pane fade" id="service-three">
                         <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>We understand your work</h4>
        <p>We know for sure the energy and work you put into your courses and we have established our company as "MyGoodCourse" because we knwo how many good courses can be produced by teachers.</p>
        <p>As a teacher, you are a great author, you need a good published to spread our work and we want to be your partner in this so important topic.</p>
      </div>
      <div class="tab-pane fade" id="service-four">
                         <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>We want teachers to be rewarded</h4>
        <p>We have seen so many hours spent by teachers to build the best pedagogical materials that we want to help you get rewards.</p>
        <p>You need to be recognized for all you Good Courses, you even need to have the possibility to get money for all your effort. We want to help you to value your work, to get money.</p>
      </div>
    </div>

  </div>
</div>

<!-- Image Header -->
<div class="row">
  <br/>
  <br/>
  <div class="col-lg-12">
    <img class="img-responsive" src="/images/banner_3.png" alt="">
  </div>
</div>
<!-- /.row -->

<!-- Service List -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Our plateform</h2>
  </div>
  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Security</h4>
        <p>We value your work and we work on providing a strong secure environment for your course materials.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Easy format</h4>
        <p>We focus on universal formats, that will easily adapt to all platform. Just provide a PDF and we take care of the process.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Simplicity</h4>
        <p>We try to make the process as simple as possible. We will continuously work with this goal.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Storage</h4>
        <p>Don't bother about storage. We have the capacity to support all your courses in the cloud.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Mobile</h4>
        <p>Our platform is also available on mobile. You can follow your store on-th-go.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Money partner</h4>
        <p>We rely on partners to handle all sensitive data. You will have to provide informations to our partners.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Information</h4>
        <p>We will keep you informed regarding your store, your community.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Set-up</h4>
        <p>You can easily start <b>today</b> and build your store, no need to wait.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Productivity</h4>
        <p>You don't have to start from scratch, just convert your files to PDF and start selling.</p>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row os-animation" data-os-animation="swing" data-os-animation-delay="1s">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= link_to 'Join and start to be part of MyGoodCourse', new_customer_registration_path, class: "btn btn-success text-center" %>
  </div>
</div>


<!-- Image Header -->
<div class="row">
  <br/>
  <br/>
  <div class="col-lg-12">
    <img class="img-responsive" src="/images/banner_4.png" alt="">
  </div>
</div>
<!-- /.row -->


<script language="JavaScript">
    onScrollInit( $('.os-animation') );
    onScrollInit( $('.staggered-animation'), $('.staggered-animation-container') );
    onScrollInit( $('.service-animation'), $('#services-panel') );
</script>
