

<!-- Image Header -->
<div class="row">
  <div class="col-lg-12">
    <img class="img-responsive" src="/images/banner_1.png" alt="">
  </div>
</div>
<!-- /.row -->



<!-- Service Panels -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div id="services-panel">
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>Notre mission pour vous aider dans votre travail</h2>
    <p>MyGoodCourse a pour mission d'offrir une plateforme pour aider les enseigants à construire et promouvoir leurs cours. Nous vison devenir la place pour tous les "Bons Cours" des enseignants. </p>
  </div>
</div>
<div class="row ">
  <div class="col-md-3 col-sm-6 service-animation" data-os-animation="slideInUp" data-os-animation-delay="0.5s">
    <div class="panel panel-default text-center noborder">
      <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="panel-body">
        <h4>Trouvez des cours</h4>
        <p>Vous cherchez des ressources fabuleuses pour votre cours? Parcourez donc les bonnes ressources déjà réalisées par des enseignants!</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 service-animation" data-os-animation="slideInUp" data-os-animation-delay="1.5s">
    <div class="panel panel-default text-center noborder">
      <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="panel-body">
        <h4>Rejoignez une communauté</h4>
        <p>Avec l'aide des autres utilisateurs, améliorez votre productivité, construisez votre réseau, gagnez en réputation et en reconnaissance.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 service-animation" data-os-animation="slideInUp" data-os-animation-delay="2.5s">
    <div class="panel panel-default text-center noborder">
      <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="panel-body">
        <h4>Sauvegardez votre travail</h4>
        <p>Mettez en place facilement une sauvegarde pour vos cours, stockez les dans le cloud, partagez vos cours si vous le souhaitez avec d'autres utilisateurs.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 service-animation" data-os-animation="slideInUp" data-os-animation-delay="3.5s">
    <div class="panel panel-default text-center noborder">
      <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="panel-body">
        <h4>Gagnez de l'argent</h4>
        <p>Vous pouvez décider de vendre ou non vos cours, en fonction de vos choix certaines ressources peuvent être payantes et vous serez payé sur votre compte en banque par les autres utilisateurs.</p>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <%= link_to 'Join and start to be part of MyGoodCourse', new_customer_registration_path, class: "btn btn-success input-block-level form-control" %>
  </div>
  </div>

<!-- Image Header -->
<div class="row">
  <br/>
  <br/>
  <div class="col-lg-12">
    <img class="img-responsive" src="/images/banner_2.png" alt="">
  </div>
</div>
<!-- /.row -->


<!-- Service Tabs -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Nos valeurs</h2>
  </div>
  <div class="col-lg-12 staggered-animation-container">

    <ul id="myTab" class="nav nav-tabs nav-justified">
      <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-heart"></i> Education</a>
      </li>
      <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Succès</a>
      </li>
      <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-star"></i> Qualité</a>
      </li>
      <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-user"></i> Récompense</a>
      </li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="service-one">
                        <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>Nous adorons l'Education</h4>
        <p>Nous sommes persuadés que l'Education est un des sujets les plus important au monde. Nous travaillons depuis des années au contact des enseignants, des élèves, des chefs d'établissements et même des autorités adminisratives de l'Education. L'Education est clairement une passion pour nous et le point de départ de tout ce que nous cherchons à accomplir quotidiennement.</p>
        <p>Nous souhaitons devenir un partenaire de tous les paticipants de l'Education. En premier lieu, un partenaire des enseignants qui sont bien évidemment clef pour l'Education. Mais nous souhaitons également répondre aux besoins des élèves, de leurs parents et de toute la communauté éducative au sein large.</p>
        <p>Notre vision est que grâce aux technologies numériques, nous pouvons désormais améliorer la réussite et la performance de tous. Nous sommes persuadés que nous pouvons faire grandir le succès de chacun.</p>
      </div>
      <div class="tab-pane fade" id="service-two">
                        <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>Nous croyons en l'Education</h4>
        <p>Nous travaillons dans les technologies numériques pour l'Education depuis maintenant deux décénies. Nous savons que ces nouvelles technologies peuvent aider les enseignants dans leur travail quotidien, que désormais en permanence le numérique est un atout disponible pour l'enseignement.</p>
        <p>Impliqués depuis de nombreuses années dans les technologies pour l'éducation, nous souhaitons utiliser le maximum de possibilités de ces technologies pour la réussite de tous.</p>
      </div>
      <div class="tab-pane fade" id="service-three">
                         <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>Nous comprenons votre travail</h4>
        <p>Nous sommes conscients de l'énergie et du travail que vous fournissez tous les jours pour réaliser vos cours, nous savons que vous êtes ceux qui sont les meilleurs auteurs. Si nous nous appelons "MyGoodCourse", c'est que nous savons combien de cours fabuleux sont produit par les enseignants et que nous souhaitons vous aider à en faire profiter le plus grand nombre.</p>
        <p>En tant qu'enseignant, vous êtes un grand auteur, vous avez besoin du meilleur éditeur qui vous permettra de diffuser largement votre travail et nous souhaitons être votre partenaire dans cette démarche.</p>
      </div>
      <div class="tab-pane fade" id="service-four">
                         <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>Nous voulons que les enseignants soient récompensés</h4>
        <p>Nous sommes plus que conscients du temps et des efforts que les enseignants consacrent à la réalisation de leurs cours. Nous savons le soin qu'ils apportent à réaliser les meilleures ressources pédagogiques et nous voulons qu'ils soient récompensés pour ces efforts.</p>
        <p>Vous deveez être reconnus pour tous vos Bons Cours, vous devez même avoir la possibilité de gagner de l'argent pour ce travail et ces efforts. MyGoodCourse veut que votre travail soit reconnu et que vous ayez la possibilité de gagner de l'argent pour ce travail.</p>
      </div>
    </div>

  </div>
</div>

<!-- Image Header -->
<div class="row">
  <br/>
  <br/>
  <div class="col-lg-12">
    <img class="img-responsive" src="/images/banner_3.png" alt="">
  </div>
</div>
<!-- /.row -->

<!-- Service List -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Notre plateforme</h2>
  </div>
  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Security</h4>
        <p>We value your work and we work on providing a strong secure environment for your course materials.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Easy format</h4>
        <p>We focus on universal formats, that will easily adapt to all platform. Just provide a PDF and we take care of the process.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Simplicity</h4>
        <p>We try to make the process as simple as possible. We will continuously work with this goal.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Storage</h4>
        <p>Don't bother about storage. We have the capacity to support all your courses in the cloud.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Mobile</h4>
        <p>Our platform is also available on mobile. You can follow your store on-th-go.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Money partner</h4>
        <p>We rely on partners to handle all sensitive data. You will have to provide informations to our partners.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Information</h4>
        <p>We will keep you informed regarding your store, your community.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Set-up</h4>
        <p>You can easily start <b>today</b> and build your store, no need to wait.</p>
      </div>
    </div>
    <div class="media">
      <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Productivity</h4>
        <p>You don't have to start from scratch, just convert your files to PDF and start selling.</p>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row os-animation" data-os-animation="swing" data-os-animation-delay="1s">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= link_to 'Join and start to be part of MyGoodCourse', new_customer_registration_path, class: "btn btn-success text-center" %>
  </div>
</div>


<!-- Image Header -->
<div class="row">
  <br/>
  <br/>
  <div class="col-lg-12">
    <img class="img-responsive" src="/images/banner_4.png" alt="">
  </div>
</div>
<!-- /.row -->


<script language="JavaScript">
    onScrollInit( $('.os-animation') );
    onScrollInit( $('.staggered-animation'), $('.staggered-animation-container') );
    onScrollInit( $('.service-animation'), $('#services-panel') );
</script>
