<div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-next="yes" style="height: 600px; background-image: url('<%= image_path("background.jpeg")%>');">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover-text">
    <div class="container">
      <div class="row">
        <div class="col-md-push-6 col-md-6 full-height js-full-height" style="height: 600px;">
          <div class="fh5co-cover-intro">
            <h1 class="cover-text-lead">Create Amazing Things</h1>
            <h2 class="cover-text-sublead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</h2>
            <p><a href="#" class="btn btn-outline btn-lg">See Our Work</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




