<% provide(:title, t('page.who_we_are')) %>

<% content_for :slider do %>
<div class="img-header-full parallaxed home_1 bg-inverse" data-stellar-background-ratio="0.5">
  <div class="slider-caption">
          <h1>MyGoodCourse</h1>
          <h2>La place de marché des bons cours d'enseignants.</h2>
  </div>
</div>
<% end %>

<!-- Image Header -->
<div class="heading-block center">
      <h2>Notre mission: vous aider dans votre travail d'enseignant</h2>
</div>
<!-- /.row -->



<!-- Service Panels -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div id="services-panel">
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <p class="lead">MyGoodCourse a pour mission d'offrir une plateforme pour aider les enseignants à construire et à promouvoir leurs cours. Nous visons de devenir la place de marché pour tous les "Bons Cours" des enseignants. </p>
  </div>
</div>


  <div class="row">
    <div class="col-md-3 col-sm-6 service-animation" data-os-animation="flipInX" data-os-animation-delay="0.5s">
      <div class="feature-box fbox-center fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="fa fa-diamond i-alt"></i></a>
        </div>
          <h4>Trouvez des cours</h4>
          <p>Vous cherchez des ressources fabuleuses pour votre cours? Parcourez donc les bonnes ressources déjà réalisées par des enseignants!</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 service-animation" data-os-animation="flipInX" data-os-animation-delay="1.5s">
      <div class="feature-box fbox-center fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="fa fa-thumbs-o-up i-alt"></i></a>
        </div>
          <h4>Rejoignez une communauté</h4>
          <p>Avec l'aide des autres utilisateurs, améliorez votre productivité, construisez votre réseau, gagnez en réputation et en reconnaissance.</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 service-animation" data-os-animation="flipInX" data-os-animation-delay="2.5s">
      <div class="feature-box fbox-center fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="fa fa-database i-alt"></i></a>
        </div>
          <h4>Sauvegardez votre travail</h4>
          <p>Mettez en place facilement une sauvegarde pour vos cours, stockez les dans le cloud, partagez vos cours si vous le souhaitez avec d'autres utilisateurs.</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 service-animation" data-os-animation="flipInX" data-os-animation-delay="3.5s">
      <div class="feature-box fbox-center fbox-effect">
        <div class="fbox-icon">
          <a href="#"><i class="fa fa-money i-alt"></i></a>
        </div>
        <h4>Gagnez de l'argent</h4>
        <p>Vous pouvez décider de vendre ou non vos cours, en fonction de vos choix certaines ressources peuvent être payantes et vous serez payé sur votre compte en banque par les autres utilisateurs.</p>
      </div>
    </div>
  </div>
  <div class="row center">
    <%= link_to new_customer_registration_path, class: 'btn btn-success btn-border btn-desc margined-vertical' do %>
        Inscrivez vous <span>et commencez votre aventure</span>
    <% end %>
  </div>
  </div>

<!-- Image Header -->
<div class="margined-vertical">
    <img class="img-responsive" src="/images/banner_2.jpg" alt="">
</div>
<!-- /.row -->


<!-- Service Tabs -->
<div class="heading-block center">
  <h2>Nos valeurs</h2>
</div>

<div class="row">
  <div class="col-lg-12 staggered-animation-container">

    <ul id="myTab" class="nav nav-tabs nav-justified">
      <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-heart"></i> Education</a>
      </li>
      <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Succès</a>
      </li>
      <li class=""><a href="#service-three" data-toggle="tab"><i class="fa fa-star"></i> Qualité</a>
      </li>
      <li class=""><a href="#service-four" data-toggle="tab"><i class="fa fa-user"></i> Récompense</a>
      </li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="service-one">
                        <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>Nous adorons l'Education</h4>
        <p>Nous sommes persuadés que l'Education est un des sujets les plus important au monde. Nous travaillons depuis des années au contact des enseignants, des élèves, des chefs d'établissements et même des autorités adminisratives de l'Education. L'Education est clairement une passion pour nous et le point de départ de tout ce que nous cherchons à accomplir quotidiennement.</p>
        <p>Nous souhaitons devenir un partenaire de tous les paticipants de l'Education. En premier lieu, un partenaire des enseignants qui sont bien évidemment clef pour l'Education. Mais nous souhaitons également répondre aux besoins des élèves, de leurs parents et de toute la communauté éducative au sein large.</p>
        <p>Notre vision est que grâce aux technologies numériques, nous pouvons désormais améliorer la réussite et la performance de tous. Nous sommes persuadés que nous pouvons faire grandir le succès de chacun.</p>
      </div>
      <div class="tab-pane fade" id="service-two">
                        <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>Nous croyons en l'Education</h4>
        <p>Nous travaillons dans les technologies numériques pour l'Education depuis maintenant deux décénies. Nous savons que ces nouvelles technologies peuvent aider les enseignants dans leur travail quotidien, que désormais en permanence le numérique est un atout disponible pour l'enseignement.</p>
        <p>Impliqués depuis de nombreuses années dans les technologies pour l'éducation, nous souhaitons utiliser le maximum de possibilités de ces technologies pour la réussite de tous.</p>
      </div>
      <div class="tab-pane fade" id="service-three">
                         <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>Nous comprenons votre travail</h4>
        <p>Nous sommes conscients de l'énergie et du travail que vous fournissez tous les jours pour réaliser vos cours, nous savons que vous êtes ceux qui sont les meilleurs auteurs. Si nous nous appelons "MyGoodCourse", c'est que nous savons combien de cours fabuleux sont produit par les enseignants et que nous souhaitons vous aider à en faire profiter le plus grand nombre.</p>
        <p>En tant qu'enseignant, vous êtes un grand auteur, vous avez besoin du meilleur éditeur qui vous permettra de diffuser largement votre travail et nous souhaitons être votre partenaire dans cette démarche.</p>
      </div>
      <div class="tab-pane fade" id="service-four">
                         <span class="fa-stack fa-3x pull-left">
                              <i class="fa fa-circle fa-stack-2x aero"></i>
                              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
        <h4>Nous voulons que les enseignants soient récompensés</h4>
        <p>Nous sommes plus que conscients du temps et des efforts que les enseignants consacrent à la réalisation de leurs cours. Nous savons le soin qu'ils apportent à réaliser les meilleures ressources pédagogiques et nous voulons qu'ils soient récompensés pour ces efforts.</p>
        <p>Vous deveez être reconnus pour tous vos Bons Cours, vous devez même avoir la possibilité de gagner de l'argent pour ce travail et ces efforts. MyGoodCourse veut que votre travail soit reconnu et que vous ayez la possibilité de gagner de l'argent pour ce travail.</p>
      </div>
    </div>

  </div>
</div>

<!-- Image Header -->
<div class="margined-vertical">
    <img class="img-responsive" src="/images/banner_3.jpg" alt="">
</div>
<!-- /.row -->

<!-- Service List -->
<div class="heading-block center">
  <h2>Nos services</h2>
</div>

<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="row">
  <div class="col-md-4">
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-lock"></i></a>
      </div>
      <h4>Securité</h4>
      <p>Nous connaissons la valeur de cotre travail et nous mettons en place un environnement très sûr pour vos ressouces pédagogiques.</p>
    </div>
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
      </div>
      <h4>Format universel</h4>
      <p>Nous travaillons avec des formats universels qui pourrons s'adapter facilement avec toutes les plateformes. Fournissez un fichier PDF et nous prenons en charge tout le processus de gestion associé.</p>
    </div>
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-support"></i></a>
      </div>
      <h4>Simplicité</h4>
      <p>Nous cherchons à rendre le processus aussi simple que possible. Nous travaillons continuellement dans ce but.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-database"></i></a>
      </div>
      <h4>Stockage</h4>
      <p>Ne vous souciez plus du stockage de vos cours. Nous pouvons tous les stocker dans le "cloud" si vous le souhaitez.</p>
    </div>
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-mobile"></i></a>
      </div>
      <h4>Mobile</h4>
      <p>MyGoodCourse est également disponible sur mobile. Vous pouvez surveillez les évolution même en déplacement, en particulier vos ventes.</p>
    </div>
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-bank"></i></a>
      </div>
      <h4>Paiement sécurisé</h4>
      <p>Nous nous appuyons sur des partenaires pour les transactions ficnancières. Les informations sensible seront chez ces partenaires qui ont le plus haut niveau de sécurité.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-paper-plane"></i></a>
      </div>
      <h4>Information</h4>
      <p>Nous vous tiendrons au courant des évolutions de vos ventes, de votre communauté.</p>
    </div>
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-space-shuttle"></i></a>
      </div>
      <h4>Mise en place</h4>
      <p>Vous pouvez très facilement démarrer dès  <b>aujourd'hui</b> et commencer à déposer vos cours, pas besoin d'attendre.</p>
    </div>
    <div class="feature-box fbox-effect">
      <div class="fbox-icon">
        <a href="#"><i class="fa fa-recycle"></i></a>
      </div>
      <h4>Productivité</h4>
      <p>Vous n'avez pas besoin de partir de zéro, il vous suffit de télécharger vos fichiers actuels au format PDF pour commencer à pouvoir vendre vos cours.</p>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row os-animation" data-os-animation="zoomIn" data-os-animation-delay="1.5s">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= link_to 'Inscrivez vous et commencez votre aventure', new_customer_registration_path, class: 'btn btn-success text-center margined-vertical' %>
    <p>ou bien</p>
    <%= link_to 'Explorez le catalogue', catalog_products_path, class: 'btn btn-primary text-center margined-vertical' %>

  </div>
</div>


<!-- Image Header -->
<div class="margined-vertical">
    <img class="img-responsive" src="/images/banner_4.jpg" alt="">
</div>
<!-- /.row -->


<script language="JavaScript">
  function onScrollInit( items , trigger ) {
    items.each( function() {
      var osElement = $(this),
          osAnimationClass = osElement.attr('data-os-animation'),
          osAnimationDelay = osElement.attr('data-os-animation-delay');

      osElement.css({
        '-webkit-animation-delay':  osAnimationDelay,
        '-moz-animation-delay':     osAnimationDelay,
        'animation-delay':          osAnimationDelay
      });

      var osTrigger = ( trigger ) ? trigger : osElement;

      osTrigger.waypoint(function() {
        osElement.addClass('animated').addClass(osAnimationClass);
      },{
        triggerOnce: true,
        offset: '50%'
      });
    });
  };

  onScrollInit( $('.os-animation', null) );
  onScrollInit( $('.staggered-animation'), $('.staggered-animation-container') );
  onScrollInit( $('.service-animation'), $('#services-panel') );

</script>

<script type="text/javascript">

  $().ready(function(){
    // the body of this function is in assets/material-kit.js
    materialKit.initSliders();
    window_width = $(window).width();

    if (window_width >= 992){
      big_image = $('.img-parallax');

      $(window).on('scroll', materialKitDemo.checkScrollForParallax);
    }

  });
</script>
