
<div class="row">
  <div class="col-xs-0 col-sm-3">

  </div>
  <div class="col-xs-0 col-sm-6">
    <h1><%= t('.sign_up')%></h1>

<%= render "customers/registrations/form" %>


<%= render "customers/shared/links" %>

  </div>
  <div class="col-xs-0 col-sm-3">

  </div>
</div>




