<li>
  <h2><%= link_to(topic_articles_path(:topic_id => topic.id)) do %>
     <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
    </span>
     <%= topic.name %>
      <% end %>
  </h2>

  <blockquote>
    <%= sanitize(topic.description, scrubber: :prune) %>
  </blockquote>
</li>