<li class="with-dash">
  <div class="feature-box fbox-outline fbox-dark fbox-effect">
    <div class="fbox-icon">
      <i class="fa fa-book"></i>
    </div>
    <%= link_to(topic_articles_path(:topic_id => topic.id)) do %>
        <h3><%= topic.name %></h3></a>
    <% end %>
    <p><%= sanitize(topic.description, scrubber: VideoScrubber.new) %></p>
  </div>
</li>