<% provide(:title, (I18n.translate 'activerecord.models.topic', count: 2).capitalize) %>



<!-- Image Header -->
<% content_for :slider do %>
    <div class="img-header parallaxed home_3 bg-inverse"  data-stellar-background-ratio="0.5">
      <div class="slider-caption">
          <h1><%= t('page.help')%></h1>
      </div>
    </div>
<% end %>
<!-- /.row -->

<!-- country selector -->
<div class="row">
  <div class="col-xs-12" style="padding-bottom: 10px;">
    <%= render(partial: 'countries/btn_countries') %>
  </div>
</div>
<!-- end country selector -->


<ul class="list-unstyled">
  <%= render(:partial => 'topics/topic', collection: @topics) %>
</ul>