<% provide(:title, @topic.name) %>


<h1><%= yield :title %></h1>

<%= link_to t('activerecord.models.topic', count:2).capitalize, topics_path(), class: 'btn btn-primary' %>

<ul class="list-unstyled">
  <%= render(:partial => 'topics/topic', locals: {topic: @topic}) %>
</ul>

