<% provide(:title, t('activerecord.models.forum_category', count:2).capitalize) %>


<ol class="breadcrumb">
  <li>
    <%= link_to forum_families_path do %>
        <span class="fa fa-home fa-lg"></span> <%= t('page.forum') %>
    <% end %>
  </li>
</ol>

<h1><%= yield :title %></h1>

<% @forum_categories.each do |forum_category| %>
    <%= render(partial:'forum_categories/forum_category', locals: {forum_category: forum_category}) %>
<% end %>



