<% provide(:title, (I18n.translate 'activerecord.models.family', count: 2).capitalize) %>


<h1><%= (I18n.translate 'activerecord.models.family', count: 2).capitalize %></h1>


<ul>
  <% @families.each do |family| %>
      <li>
        <%= link_to family.name, family_path(family) %>
      </li>
  <% end %>

</ul>

