<% stripe = customer.stripe_account %>

<% unless stripe.nil? %>
    <p>You have connected your account to Stripe, you can get payments from other users.
      To follow your account Balance, please log to Stripe.</p>
    <%= link_to 'Stripe Account', 'https://dashboard.stripe.com/login', class: 'btn btn-primary', :target => '_blank' %>
<% else %>
    <%= render(partial: 'stripe/alert_missing_stripe') %>
<% end %>