<%
   # context : parameter to refer to the polymorphic
   context_type = context.class.name.downcase
   context_param = context.class.name.downcase + "_id"
   context_value = context.id
%>
<div class='<%="like_#{context_type}_#{context_value}"%> pull-right' >
  <%= link_to(like_like_path(context_param => context_value), alt: 'Like!', method: :post, remote: true ) do %>

      <i class="fa fa-thumbs-o-up fa-2x"> </i>
  <% end %>
  <span class="badge"><%= context.likes.size unless context.likes.size ==0 %></span>
</div>
