<%
# context : parameter to refer to the polymorphic
   context_type = context.class.name.downcase
   context_param = context.class.name.downcase + "_id"
   context_value = context.id
%>
<div class='<%="like_#{context_type}_#{context_value}"%> pull-right btn' >
    <%= link_to(unlike_like_path(context_param => context_value),
                alt: 'Unlike',
                title: 'Unlike',
                method: :delete, remote: true ) do %>

        <i class="fa fa-thumbs-up fa-lg"> </i>
  <span class="badge"><%= context.likes.size unless context.likes.size ==0 %></span>
  <% end %>
</div>