<% provide(:title, (I18n.translate 'activerecord.models.cycle', count: 2).capitalize) %>


<h1><%= (I18n.translate 'activerecord.models.cycle', count: 2).capitalize %></h1>

<ul>
  <% @cycles.each do |cycle| %>
      <li>
        <%= link_to cycle.name, cycle_path(cycle) %>
      </li>
  <% end %>

</ul>
