<div class="row">
  <div class="col-md-2">
    <%= render('customers/customer', :customer => @customer) %>

    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Profil</a></li>
      <li role="presentation"><a href="#">Favorite</a></li>
      <li role="presentation"><a href="#">Followers</a></li>
      <li role="presentation"><a href="#">Contact</a></li>
    </ul>


  </div>
  <div class="col-md-4">
    <h4>Profile</h4>
    <b>About</b>
    <blockquote>
      I have been a printer / maker all my live 2nd generation in the family to pursue this field. I am from a farming family who had to make a move into something when farming started to fade.
    </blockquote>
    <mark>
      member since two years
    </mark>
  </div>
  <div class="col-md-6">
    <h4>Products</h4>
    <% @customer.products.active.each do |product| %>
        <%= render "products/product", :product => product %>
    <% end %>
    Products here
  </div>
</div>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
