<div id="powered_by_stripe">
  <%= image_tag "powered_by_stripe.png" %> <small>MyGoodCourse is now going to use Stripe to process your paiements. All communication are going to be with SSL over https. MyGoodCourse is not storing any sensitive data. Stripe is the only one to process your information and myGoodCourse will only get the status of the paiement. </small>
</div>