<h1>Bonjour <%=@order.customer.first_name%>!</h1>

<h3>Re: Commande #<%=@order.number%></h3>


<p>Nous sommes heureux de vous annoncer que votre commande ainsi que votre paiement de <%=number_to_currency @order.amount_paid%> ont été acceptés.</p>

<p>MyGoodCourse vous remerci de votre confiance.</p>


