<% provide(:title, (I18n.translate 'activerecord.models.level', count: 2).capitalize) %>


<h1><%= (I18n.translate 'activerecord.models.level', count: 2).capitalize %></h1>


<ul>
  <% @levels.each do |level| %>
  <li>
    <%= link_to level.name, level_path(level) %>
  </li>
  <% end %>
</ul>