<% provide(:title, @level.name) %>

<h1><%= @level.name %></h1>

<p>
  <strong><%= t('activerecord.attributes.level.description')%>:</strong>
  <%= sanitize(@level.description, scrubber: :prune) %>
</p>


