<div class="row" id="order_item_undo_<%=order_item.product.id%>">
  <div class="col-xs-6">
    <h4><%= order_item.product.name %> has been removed</h4>
  </div>
  <div class="col-xs-3">
    <%= link_to "Undo", undo_order_item_path(product_id: order_item.product.id), remote: true, method: :post, class: "btn btn-primary" %>
  </div>
</div>