
  <div class="well">
    <%= link_to "Continue Shopping", catalog_products_path, class: "btn btn-primary" %>
    <%= link_to "Checkout", checkout_path, class: "btn btn-success" %>
  </div>
  <div class="new-orderitem"></div>

  <div id="orderitem-dropped">
  </div>

  <div id="order_items_index">
  <%= render(partial: "order_items/order_item", collection: @order_items) %>
  </div>



<div id="orderitem-modal" class="modal fade"></div>