
  <div class="well">
    <%= link_to t('dialog.shop.continue_shoping'), catalog_products_path, class: "btn btn-primary" %>
    <%= link_to t('dialog.shop.checkout'), checkout_path, class: "btn btn-success pull-right" %>
  </div>
  <div class="new-orderitem"></div>

  <div id="orderitem-dropped">
  </div>

  <div id="order_items_index">
  <%= render(partial: "order_items/order_item", collection: @order_items) %>
  </div>



<div id="orderitem-modal" class="modal fade"></div>