<div class="pull-right">
<%= link_to( edit_post_path(post),
             alt: t('helpers.action.edit'),
             title: t('helpers.action.edit'),
             data: {toggle: 'tooltip', placement: 'top'},
             class: 'btn-tool btn',
             remote: true) do %>
    <span class="fa fa-pencil fa-lg"></span>
<% end %>
</div>