<div class="row">
  <div class="col-xs-12">
<div class="pull-right">
  <!-- like it! -->
  <% if customer_signed_in? %>
      <% if post.liked?(current_customer) %>
          <%= render(partial: 'likes/unlike', locals: {context: post}, locale: locale) %>
      <% else %>
          <%= render(partial: 'likes/like', locals: {context: post}, locale: locale) %>
      <% end %>
  <% end %>
  <!-- end like it! -->

  <%= render(partial: 'comments/btn_comment', locals: {context: post}) %>


  <% if post.owned?(current_customer) %>
    <%= render(partial: 'posts/btn_edit', locals: {post: post}) %>
  <% end %>

</div>

  </div>
</div>
