<% provide(:title, (I18n.translate 'activerecord.models.post', count: 2).capitalize) %>



<!-- Image Header -->
<div class="parallaxed banner_6" data-stellar-background-ratio="0.5"><span>
    <h1><%= t('activerecord.models.post', count: 2)%></h1>
</span>
</div>
<!-- /.row -->

<%= link_to t('actions.posts.new'), new_post_path, class: 'btn btn-primary' %>

<div id="index-posts" class="row">
  <% @posts.each do |post| %>
      <%# cache post do %>
        <%= render(:partial => 'posts/post', locals: {post: post, with_body: true, with_cols: true}) %>
      <%# end %>
  <% end %>
</div>

 <div id="infinite-scrolling-posts" class="row">
  <%= will_paginate(@posts, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
 </div>
