// we rely on the global variables and bootstrap mixin
// as stated in the application scss order


/* decorate the picture of the customer
 * to be used as an overlay over an other panel
 */
.customer-profile{
  width: $customer_picture-xs;
  height: $customer_picture-xs;
  padding: 1px;
  background: $custom-aero;
}


