
// custom vaiables for bootstrap
// that overwrite the basic configuration
@import "bootstrap-variables";

// application specific variables
// that are used all over the application
@import "application-variables";

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// issue with Glyphicons
@at-root {
  // Import the fonts
  @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('#{$icon-font-path}#{$icon-font-name}.eot');
    src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-font-path}#{$icon-font-name}.woff2') format('woff2'),
    url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
    url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),
    url('#{$icon-font-path}#{$icon-font-name}.svg') format('svg');
  }
}

// @import "material-kit.scss";

// in vendor
// @import "~material-kit-free/assets/sass/material-kit.scss";

@import "~summernote/dist/summernote";

// bootstrap
// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/shared/_bootstrap.scss';

@import '~jquery-ui/themes/base/core';
@import '~jquery-ui/themes/base/theme';
@import '~jquery-ui/themes/base/sortable';


@import '~font-awesome/scss/font-awesome';

// IMPORTANT make sure to resolve the path for font asset
// run rake bower:resolve summernote
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/monokai.css";
@import "~summernote/src/less/summernote.scss";
@import "~summernote/dist/summernote.css";

// datetimepicker
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";

// star rating
@import "~bootstrap-star-rating/css/star-rating.css";

// animate CSS
@import '~animate.css/animate.css';


// global CSS
@import "lib/social-share-button";
@import "./lib/famfamfam-flags.css";
@import "custom";
@import "home";
@import "parallax";
@import "print";

// CSS for models
@import "attachments";
@import "comments";
@import "customers";
@import "forum_answers";
@import "forum_categories";
@import "forum_families";
@import "forum_subjects";
@import "posts";
@import "products";
@import "reviews";
@import "stripe";

