@media print {

  // remove the links when printing
  a,
  a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: "";
  }

  abbr[title]:after {
    content: "";
  }

  // Don't show links that are fragment identifiers,
  // or use the `javascript:` pseudo protocol
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
}