// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
//** Global textual link color.

// $brand-primary: green;


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

///////////////////////////////////////////////////

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap-datetimepicker';




/* universal */
body {
  padding-top: 65px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}


/* footer */
.bs-docs-footer {
  width: 100%;
  padding-top: 10px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730
}

.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
/**  Additional colors ------------------------------------------  **/
.blue {
  color: #3498DB; }

.purple {
  color: #9B59B6; }

.green {
  color: #1ABB9C; }

$custom-aero: #9CC2CB;

.aero {
  color: $custom-aero }

.red {
  color: #E74C3C; }

$custom-yellow: #FFDC1E;

.yellow {
  color: $custom-yellow;  }

.dark {
  color: #34495E; }

.border-blue {
  border-color: #3498DB !important; }

.border-purple {
  border-color: #9B59B6 !important; }

.border-green {
  border-color: #1ABB9C !important; }

.border-aero {
  border-color: $custom-aero !important; }

.border-red {
  border-color: #E74C3C !important; }

.border-dark {
  border-color: #34495E !important; }

.bg-white {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #73879C; }

.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff; }

.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff; }

.bg-blue {
  background: #3498DB !important;
  border: 1px solid #3498DB !important;
  color: #fff; }

$custom-orange: #F39C12;

.bg-orange {
  background: $custom-orange !important;
  border: 1px solid $custom-orange !important;
  color: #fff; }

.bg-purple {
  background: #9B59B6 !important;
  border: 1px solid #9B59B6 !important;
  color: #fff; }

.bg-blue-sky {
  background: #50C1CF !important;
  border: 1px solid #50C1CF !important;
  color: #fff; }


/* guiding users */
.guiding {
  color: $custom-yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $custom-orange;
}

/* we want extra colors for the badges
see _bootstrap-variables.sass for information
// $brand-primary:         darken(#428bca, 6.5%) // #337ab7
// $brand-success:         #5cb85c
// $brand-info:            #5bc0de
// $brand-warning:         #f0ad4e
// $brand-danger:          #d9534f
*/
.badge-primary {
  background-color: $brand-primary;
}
.badge-success {
  background-color: $brand-success;
}
.badge-info {
  background-color: $brand-info;
}
.badge-warning {
  background-color: $brand-warning;
}
.badge-danger {
  background-color: $brand-danger;
}
/* add glyph to sort */
.sorting, .sorting_asc,
.sorting_desc, .sorting_asc_disabled,
.sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

.sorting:after, .sorting_asc:after,
.sorting_desc:after, .sorting_asc_disabled:after,
.sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5
}

.sorting:after {
  opacity: 0.2;
  content: "\e150"
}

.sorting_asc:after {
  content: "\e155"
}

.sorting_desc:after {
  content: "\e156"
}

.sorting_asc_disabled:after, .sorting_desc_disabled:after {
  color: #eee
}

.sorting:after, .sorting_asc:after,
.sorting_desc:after {
  display: none
}

.sorting:after, .sorting_asc:after,
.sorting_desc:after {
  top: 6px;
  right: 6px
}



/* Override Rail's default error calls with Bootstrap 3 */
#error_explanation {
  color: #E74C3C;
  ul {
    color: #E74C3C;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* need for geocoder to disable "powered by Google Maps" */
.pac-container:after{
  content:none !important;
}

/* panels for preview */
/* cf https://miketricking.github.io/dist/ */


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(170,170,170,0.4);
}

.hovereffect h2, .hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hovereffect img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  //font-weight: normal;
  height: 75%;
  width: 85%;
  position: absolute;
  top: 5%;
  left: 8%;
  padding: 10px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: rgba(0,0,0,0.4);
}

/* progress */
.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

/* fixed height when displaying a text in the grid */
.height_30 {
  height:  30px;
  width:100%;
}

/* fixed height for the caption of the files attachments */
.caption-file{
  height:  205px;
  width:100%;
}



