.container-customer {
  float: none;
  margin: 0 auto;
  width: 140px;
}

.customer-picture {
  height: 80px;
  width: 80px;
}

.customer-picture-sm {
  height: 50px;
  width: 50px;
}

/* allow two lines for name */
.customer-name {
  height: 30px;
}