@import "application-variables";
@import "bootstrap/mixins/vendor-prefixes";


.container-customer-lg {
  float: none;
  margin: 0 auto;
  width: $customer_container-lg;
}

.customer-picture-lg {
  height: $customer_picture-lg;
  width: $customer_picture-lg;
}

.customer-picture-xs {
  height: $customer_picture-xs;
  width: $customer_picture-xs;
}


@mixin styling($customer_picture, $customer_container) {
  .container-customer {
    float: none;
    margin: 0 auto;
    width: $customer_container;
  }

  .customer-picture {
    height: $customer_picture;
    width: $customer_picture;
  }

  /* allow two lines for name */
  .customer-name {
    height: $customer_name;
  }

}

// for xs screens
@include styling($customer_picture-xs, $customer_container-xs);
// for sm screens
@media (min-width: $container-sm) {
  @include styling($customer_picture-sm, $customer_container-sm);
}
// for md screens
@media (min-width: $container-md) {
  @include styling($customer_picture-md, $customer_container-md);
}

