// parallax is based on stellar.js and jquery.waypoints
// there is a limitation on ios devices.... use only one parallax element per page at the top
.parallaxed {
    background-attachment: fixed;
    background-position: 50% 0;
    background-color: black;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.parallaxed span {
    bottom: 0;
    color: white;
    display: block;
    //left: 50%;
    //margin-left: -600px;
    //font-size: 38px;
    padding: 10px;
    position: absolute;
    //text-shadow: 0 2px 0 black, 0 0 10px black;
    //width: 1200px;
}
// space pictures
.banner_1 {
    background-image: image-url('banner_1.png');
}
.banner_2 {
    background-image: image-url('banner_2.png');
}
.banner_3 {
    background-image: image-url('banner_3.png');
}
.banner_4 {
    background-image: image-url('banner_4.png');
}
.banner_5 {
  background-image: image-url('banner_5.png');
}
.banner_6 {
  background-image: image-url('banner_6.png');
}
.banner_7 {
  background-image: image-url('banner_7.png');
}
.banner_8 {
  background-image: image-url('banner_8.png');
}
.banner_9 {
  background-image: image-url('banner_9.png');
}

// abstract pictures
.banner_100 {
  background-image: image-url('banner_100.png');
}
.banner_101 {
  background-image: image-url('banner_101.png');
}
.banner_102 {
  background-image: image-url('banner_102.png');
}
.banner_103 {
  background-image: image-url('banner_103.png');
}
.banner_104 {
  background-image: image-url('banner_104.png');
}
.banner_105 {
  background-image: image-url('banner_105.png');
}
.banner_106 {
  background-image: image-url('banner_106.png');
}
.banner_107 {
  background-image: image-url('banner_107.png');
}
.banner_108 {
  background-image: image-url('banner_108.png');
}
.banner_109 {
  background-image: image-url('banner_109.png');
}