// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application-variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";


.reviews-list {
  list-style: none;
  padding: 0;
  width: 100%;
}
@mixin styling($customer_picture, $customer_container) {
  .review-panel {
    // reduced top for answer
    padding-top: 10px;
    padding-bottom: 5px;
    // no right for answer
    //padding-right: 10px;
    padding-left: ($customer_picture)/2;

    .review-customer {
      display: inline;
      float: left;
      padding-top: $customer_padding-top;
      width: $customer_container;
    }
    .review-text {
      display: inline;
      float: right;
      width: calc(100% - #{$customer_container} - 10px);
      position: relative;
      background-color: white;
    }
    .review-tools {
      display: block;
      width: 100%;
      height: 35px;
    }
    // change shadow when dealing with the reviews
    .quote-panel {
      @include box-shadow(3px 3px 10px rgba(0, 0, 0, .2));
    }
    // use the mixin clearfix directly in Css
    @include clearfix();
  }
}

// for xs screens
@include styling($customer_picture-xs, $customer_container-xs);
// for sm screens
@media (min-width: $container-sm) {
  @include styling($customer_picture-sm, $customer_container-sm);
}
// for md screens
@media (min-width: $container-md) {
  @include styling($customer_picture-md, $customer_container-md);
}