<% provide(:title, (I18n.translate 'activerecord.models.category', count: 2).capitalize) %>


<h1><%= (I18n.translate 'activerecord.models.category', count: 2).capitalize %></h1>

<ul>
  <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, category_path(category) %>
      </li>
  <% end %>
</ul>