<% provide(:title, @category.name) %>

<h1><%= @category.name %></h1>

<p>
  <strong><%= t('activerecord.attributes.category.description')%>:</strong>
  <%= sanitize(@category.description, scrubber: :prune) %>
</p>