<% provide title: t('helpers.action.product.edit') %>

<h1><%= t('helpers.action.product.edit') %></h1>

<!--- Country selector --->
<div class="">
  <%= form_tag(edit_product_path(@product), method: :get, class: 'simple_form')  do  %>
  <% end %>
</div>
<!--- end Country selector --->


<%= render 'form' %>




