<% provide(:title, (I18n.translate 'activerecord.models.product', count: 2).capitalize) %>


<h1><%= (I18n.translate 'activerecord.models.product', count: 2).capitalize %></h1>

<% @products.each do |product|%>
    <%= render(partial: 'products/product', locals: {product: product}) %>
<% end %>


  <div id="catalog-products" class="row">
    <% @products.each do |product| %>
        <% cache product do %>
            <%= render(partial:'products/product', locals: {product: product}) %>
        <% end %>
    <% end %>

  </div>

  <div class="row">
    <%= will_paginate(@products, :renderer => 'BootstrapPaginationHelper::LinkRenderer') %>
  </div>
