<% provide(:title, t('actions.products.new')) %>

<h1><%= t('actions.products.new')%></h1>

<!--- Country selector --->
<div class="">
  <%= render(partial: 'countries/btn_countries') %>
</div>
<br/><br/>
<!--- end Country selector --->

<%= render 'form' %>

