<% provide(:title, t('actions.products.new')) %>

<h1><%= t('actions.products.new')%></h1>

<!--- Country selector --->
<div class="">
  <%= form_tag(new_product_path, method: :get, class: "simple_form")  do  %>
      <%= select_tag('country_id', options_from_collection_for_select(Country.all,"id", "name", session[:country_store] ), class: "select optional form-control", :onchange => "this.form.submit()") %>
  <% end %>
</div>
<!--- end Country selector --->

<%= render 'form' %>

