<div class="pull-right">
<%= link_to( edit_forum_answer_path(forum_answer), remote: true, class: 'btn-tool btn ') do %>
    <span class="fa fa-pencil fa-lg"></span> <%= I18n.translate('helpers.action.edit') %>
<% end %>
</div>