  <%= if (has_order? && current_order.has_items?)
        link_to  order_items_path do %>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="badge"><%= current_order.order_items.size %></span> (<%=number_to_currency current_order.total_before_tax %>)
  <% end
     end%>

