<!-- Additional navbar items -->
<%
#<div class="collapse navbar-collapse navbar-right">
#  <!--                      pull-right keeps the drop-down in line -->
#  <ul class="nav navbar-nav pull-right">
#    <li><a href="#">HELP</a></li>
#  </ul>
#</div>

%>


<div class="collapse navbar-collapse navbar-right">
    <!--                      pull-right keeps the drop-down in line -->
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to t('page.catalog'), catalog_products_path %></li>
      <% if (Post.all.count > 5) %>
        <li><%= link_to t('page.posts'), posts_path %></li>
      <% end %>
      <li><%= link_to t('page.who_we_are'), home_path %></li>
      <li><%= link_to t('page.help'), topics_path %></li>
    </ul>
  </div>