<%
#<!-- The Collapsing items            navbar-left or navbar-right -->
#<div class="collapse navbar-collapse navbar-left">
#  <!--                      pull-right keeps the drop-down in line -->
#  <ul class="nav navbar-nav pull-right">
#    <li><a href="#">FAQ</a></li>
#  </ul>
#</div>
%>