<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Vous allez adorer MyGoodCourse</h3>
  </div>
  <div class="panel-body">
    <p><b>L'illimité</b> pour l'accès à des ressources gratuites</p>
    <p><b>L'illimité</b> pour la conservation de vos ressources</p>
    <ul class="list-unstyled">
      <li>
        <p>
          <span aria-hidden="true" class="fa fa-check green"> </span> Construisez votre propre "boutique" à partir de vos meilleures ressources
        </p>
      </li>
      <li>
        <p>
          <span aria-hidden="true" class="fa fa-check green"> </span> Suivez les tendances actuelles de Pédagogie
        </p>
      </li>
      <li>
        <p>
          <span aria-hidden="true" class="fa fa-check green"> </span> Restez connecté avec la communauté
        </p>
      </li>
    </ul>
    <%= image_tag 'face_'+rand(1..9).to_s+'.jpg', class: 'img-responsive'%>
  </div>
</div>