<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">You'll love MyGoodcourse</h3>
  </div>
  <div class="panel-body">
    <p><b>Unlimited</b> access to free ressource</p>
    <p><b>Unlimited</b> time to keep ressources</p>
    <ul class="list-unstyled">
      <li>
        <p>
          <span aria-hidden="true" class="fa fa-check green"> </span> Build your own "boutique" made from your best ressources
        </p>
      </li>
      <li>
        <p>
          <span aria-hidden="true" class="fa fa-check green"> </span> Follow the trends in new pedagogy
        </p>
      </li>
      <li>
        <p>
          <span aria-hidden="true" class="fa fa-check green"> </span> Connect with a community
        </p>
      </li>
    </ul>
    <%= image_tag "face_"+rand(1..9).to_s+".jpg", class: "img-responsive"%>
  </div>
</div>